nav {
    padding: 0 1rem;
}
.content {
    min-height: calc(100vh - 70px - 64px);
    padding: 1.5rem 0;
}
.goods {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}
.card {
    display: flex;
    flex-direction: column;
}
.card-content {
    flex-grow: 1;
}
.cart {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 5;
    padding: 1rem;
}
@media (min-width: 767px){
    .cart {
        top: 5rem;
        bottom: unset;
    }
}
.basket-list {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: 50rem;
    max-width: 95%;
    box-shadow: 0, 6px 15px 0 rgba(0, 0, 0, .5);
    animation: show 0.5s ease-in-out;
}
.basket-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    cursor: pointer;
    color: #fff;
}
.basket-delete {
    cursor: pointer;
}
@keyframes show {
    from {
        top: 70%;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1 ;
    }
}
.bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}
.btnCollex {
    display: flex;
    align-items: center;
}
.m-right-2 {
    margin:0 0.5rem;
}